/* Apply a common font family to all elements */
body, select, button, input {
    font-family: Arial, Helvetica, sans-serif;
}

/* Center text and elements */
body, select, div, p, button {
    text-align: center;
    margin: 0 auto;
}

/* maximum width leave some space on sides*/
select, p, button, table {
    max-width: 96vh;
}

/* Center horizontally for p, button */
p, button {
    margin-left: auto;
    margin-right: auto;
}

/* Set styling for buttons */
button {
    border-collapse: collapse;
    margin: 8px;
    width: 96%;
    max-width: 572px;
    background-color: #04AA6D;
    color: white;
    font-size: 150%;
    
}

/* Set styling for difficulty selector */
#difficultySelector {
    display: block;
}

td input {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  
input {
    /* fill the td of table */
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    /* Remove arrows for input type digit */
    -moz-appearance: none;  
    -ms-appearance: none;
    -o-appearance: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    text-align: center;
    font-size: 100%;
    padding-left: 8px;
}

/* Remove spin buttons for number input on webkit browsers */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Table styles remain unchanged */
table {
    padding: 10px;
    margin: 0 auto; /* Center horizontally */
    border-collapse: collapse;
    width: 96%;
    max-width: 572px;
}

td {
    border: 1px solid black;
    width: 60px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    text-align: center;
    font-size: 250%;
}
tr:first-of-type td{
    border-top-width: 2px;
}
tr td:first-child {
    border-left-width: 2px;
}
/* Apply thicker borders for every third column */
td:nth-child(3n) {
    border-right-width: 2px;
}

/* Apply thicker borders for every third row */
tr:nth-child(3n) td {
    border-bottom-width: 2px;
}
tr:first-child {
    border-bottom-width: 2px;
}
